---
import LeftNavigation from "../components/LeftNavigation.astro"
---

<!-- NOTE: For differentiating layout -->
<!-- <div class="col-span-2 p-4 bg-red-500/20"> -->
<div class="col-span-2 p-4">
    <LeftNavigation />
    <slot />
</div>
