---
import Header from "../components/Header.astro";
import Headline from "../components/Headline.astro";
---

<!-- NOTE: For differentiating layout -->
<!-- <div class="col-span-8 p-4 bg-blue-500/20"> -->
<div class="col-span-8 p-4">
    <Header />
    <Headline />
    <slot />
</div>
